<template name="login">
    <div class="background">
        <div class="center-block form-connect">
            <div class="form-group">
                <h1><i>Where are you at with your project today?</i></h1>
                <h2>Login and standup with your team now!</h2>
                <div class="btn-signin">
                    <a id="signin" class="btn btn-success btn-lg btn-social btn-github">
                        <i class="fa fa-github"></i> Sign in with Github
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>